#navAnchor {
margin-top: 0;
padding-top: 0;

}

.navbar-inverse {
  background-color: white;
  border: 1px solid black;
  border-left:0px;
  border-right:0px;
}

#navLogo {
  width:5em;
  height:5em;

}
